@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

$primary-color: #F16266;

*{
    margin:0;
    padding:0;
    list-style-type: none;
    box-sizing:border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.app{
    margin: auto;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
    overflow-y: auto;
}

/* header|footer styling */

header{
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;

    .logo{
        font-weight: 800;
        font-size: 1.3rem;
    }

    .box{
        width: 1rem;
        height: 1rem;
    }

    i{
        font-size: 1rem;
        color: white;
    }
}

footer{
    box-sizing: border-box;
    // background-color: $primary-color;
    border-top: 1px grey solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 3rem;
    padding: 0 1rem;

    i{
        font-size: 1.3rem;
        color: $primary-color;
    }

    .plus{
        font-size: 2rem;
    }
}

/* dashboard/home */

.dash-items{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 0.5rem 0;
    padding-left: 0.5rem;

    .dash-item{
        max-width: 30vw;
        max-height: 30vw;
        overflow: hidden;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        img{
            height: 30vw;
        }

        .dash-image{
            object-fit: cover;
        }

        img[class]{
            width: 100%;
        }
    }
}

/* item details page */
.details{

    .back-arrow{
        position: fixed;
        top: 0;
        left: 0;
        color: white;
        padding: 0.7rem 1rem;
    }

    .user{
        display: flex;
        align-items: center;
        padding: 0.6rem 1rem;

        .avatar{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin-right: 0.7rem;
        }

        .username{
            font-size: 0.85rem;
            font-weight: 700;
        }

        .location{
            font-size: 0.7rem;
            font-weight: 500;
            color: grey;
        } 
    }  
    
    .image-container{
        max-height: 40vh;
        overflow: hidden;

        img{
            width: 100%;
        }
    }
}

.details-content{
    padding: 1rem 1.5rem;
    padding-bottom: 4rem;

    .icons{
        color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .like{
            font-size: 1.4rem;
        }

        .edit i{
            margin-left: 1.5rem;
            font-size: 1.2rem;
            color: $primary-color;
        }
    }

    .name{
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .description{
        font-size: 0.9rem;
        border-bottom: 1px $primary-color solid;
        padding-bottom: 1.5rem;
    }

    .comments{
        padding: 1rem;
        font-size: 0.9rem;

        .posted-comment{
            margin: 1rem 0;
        }
    }
}

.comment-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    button{
        font-size: 1.2rem;
    }

    .comment-input{
        font-size: 0.9rem;
        font-family: 'Montserrat';
    }

    .comment-input:focus{
        outline: none;
    }
}

.buy-container{
    box-sizing: border-box;
    border-top: 1px grey solid;
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 3rem;
    left: 0;
    top: calc(100vh - 6rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    .price{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .buy-now{
        background-color: $primary-color;
        padding: 0.3rem;
        color: white;
    }
}

/* add item page */

.add-product{
    padding: 2rem;
}

/* update page */

.update{
    padding: 2rem;
}

/* add/update form */
.form{
    .form-group{
        margin-bottom: 2rem;

        input[type=file]{
            background-color: #f8f8f8;
            color: $primary-color;
            font-size: 0.8rem;
            padding: 0.2rem;
            margin-top: 0.5rem;
            width: 100%;
            border: none;
        }

        input{
            width: 100%;
            border: none;
            border-bottom: 1px $primary-color solid;
            font-size: 1rem;
            padding: 0.5rem;
            color: $primary-color;
        }

        input:focus{
            outline: none;
        }

        .category-input{
            width: 100%;
            margin-top: 0.5rem;
            border: none;
            border-bottom: 1px $primary-color solid;
            border-radius: 0;
            font-size: 1rem;
            padding: 0.5rem;
            color: $primary-color;
        }
        
        .category-input:focus{
            outline: none;
        }
    }

    .price{
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 2.5rem;

        .price-input{
            display: flex;
            margin-left: 0.5rem;
            align-items: center;
    
            input{
                // border: 1px $primary-color solid;
                box-sizing: border-box;
                margin-left: 0.3rem;
                color: black;
                width: 4rem;
                padding: 0.3rem;
            }
        }
    }

    .button{
        display: flex;
        justify-content: flex-end;
    
        button{
            background-color: $primary-color;
            border: none;
            font-size: 1.3rem;
            color: white;
            padding: 0.3rem 0.7rem;
            border-radius: 0.3rem;
            margin-top: 2rem;
        }
    }
}

/* nav page */

.nav-container{
    padding: 3rem;

    .category{
        border-bottom: 1px grey solid;
        padding: 1rem;
    }

    .sell-item{
        color: $primary-color;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;
        align-items: center;
    
        i{
            font-size: 1.2rem;
            color: $primary-color;
        }
    }
}